# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY= "AIzaSyC__0jkwdG01m3FNiW86MxXGO6QyQCtLvo"
VITE_GEMINI_API_KEY= "AIzaSyC__0jkwdG01m3FNiW86MxXGO6QyQCtLvo"

# VITE_SUPABASE_URL: Your Supabase project URL.
VITE_SUPABASE_URL= "https://rbvoehmcthveftdsrqge.supabase.co"

# VITE_SUPABASE_ANON_KEY: Your Supabase anonymous key.
VITE_SUPABASE_ANON_KEY= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJidm9laG1jdGh2ZWZ0ZHNycWdlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMjI5MjksImV4cCI6MjA5MTY5ODkyOX0.hxbwo6B98D-IUzI8rgl9j8cdGRC62M7bP0uWTvdoPic"
